@page "/product/purchase-product"
@attribute [Authorize]
@* 
<EditForm Model="@Model" class="col-5 shadow py-5 bg-white rounded">
    <div class="row mb-3 px-5">
        <MudNumericField Min="0" HideSpinButtons="true" @bind-Value="@Model.BarCode" Label="Bar Code" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
        <MudButton Variant="MudBlazor.Variant.Outlined" Color="Color.Primary">Search</MudButton>
    </div>
    <div class="row mb-3 px-5">
        <MudTextField @bind-Value="@Model.ProductName" ReadOnly Label="Product Name" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"></MudTextField>
    </div>
    <div class="row mb-3 px-5">
        <MudTextField @bind-Value="@Model.CategoryName" ReadOnly Label="Category Name" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"></MudTextField>
    </div>
    <div class="row mb-3 px-5">
        <MudNumericField Min="0" ReadOnly @bind-Value="@Model.Price" Format="F2" Label="Product Price" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
    </div>
</EditForm> *@

